.navbar {
    box-shadow: 0px 4px 8px rgba(17,17,17,0.2); /* seperti card shape */
}

.navbar-brand {
    font-weight: bold;
    padding-left: 12%;
}

.poke-container {
    background-color: #f5e0b1;
    padding-left: 5.5% !important;
    padding-right: 5.5% !important;
}

.col.main {
    /* background-color: rgb(252, 229, 214); */
    background-color: white;
    box-shadow: 0 0 50px rgba(17,17,17,0.5);
    padding: auto;
}

.row.section {
    padding: 5%;
}

.bigtext {
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(119, 113, 113, 0.735);
    text-shadow: 0 2px 8px rgba(229, 219, 219, 0.6);
}

.bigtextAcc {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(119, 113, 113, 0.735);
    text-shadow: 0 2px 8px rgba(229, 219, 219, 0.6);
}

#home {
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card {
    position: relative;
    height: 450px;
    border: lightgray 1px solid;
    border-radius: 20px;
    margin:1rem;
    margin-top:0;
    padding:0;
    max-width: 350px;
    min-width:300px;
    overflow: hidden;
    background-color: white;
}

.card::before {
  content: "";
  display:block;
  position: relative;
  height: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(101, 46, 203, 0.6);
}

.card-list {
    display: flex;
    justify-content: space-evenly;
  }

.carousel,
.carousel-inner {
  height: 100%;
  position: absolute;
  top: 2;
  right: 0;
  left: 0;
}

.item,
.item.active {
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
  top: 0;

}

.infocontainer {
    background: rgba(101, 46, 203, 0.6);
    height: 100px;
    /* position: absolute; */
    bottom:25px;
    right: 0;
    left:0;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    text-align: left;
    overflow:hidden;
    z-index: 100000;
}

.infocontainer:hover {
   height:150px;
}

.logoimg{
    margin-top:-2px;
    margin-right:2px;
    width: 40px;
}

.pokename {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color:white;
    text-shadow: 2px 2px darkred;
    margin-left:1rem;
    margin-top:1rem;
}

.description{
    font-size: 0.5rem;
    margin-top:2%;
}

h5 {
    color: black;
    text-shadow: 2px 2px white;
}

p {
    color: black;
    text-shadow: 2px 2px white;
}


